@media (max-width: 1300px)
  .container
    max-width: 1180px
  .header
    &-name
      width: 256px
    &__title
      font-size: 22px
    &-number
      width: 206px
    &__phone
      font-size: 20px
    &-menu
      min-width: 680px
  .about
    &-cards
      grid-column-gap: 10px
      grid-template-columns: repeat(4, 278px)
@media (max-width: 1150px)
  .container
    max-width: 1000px
  .header
    &__title
      font-size: 19px
    &__phone
      font-size: 16px
    &-menu
      min-width: 610px
    &__link
      font-size: 13px
  .about
    &-bg
      width: 190px
      height: 190px
    &__image
      width: 190px
      height: 190px
    &-cards
      grid-template-columns: repeat(4, 240px)
  .number
    &-card
      width: 240px
  .reviews
    &-bg
      padding-bottom: 30px
    &-card
      width: 340px
  .footer
    &-wrapper
      grid-template-columns: 378px 203px 167px
@media (max-width: 995px)
  .container
    max-width: 768px
  .header
    &-links, &-number
      display: none
    &-wrapper
      align-items: center
    &__link
      color: #FFFFFF
  .hero
    &__button
      font-size: 16px
      line-height: 18px
  .tour
    padding-bottom: 20px
    &__title
      font-size: 27px
    &__info
      font-size: 14px
    &__text
      font-size: 14px
    &__price
      font-size: 14px
    &-number
      display: block
    &-card
      width: 360px
      height: 440px
      &__button
        font-size: 12.41177px
        line-height: 13px
      &__title
        font-size: 18px
    &__image
      width: 330px
      height: 245px
  .burger
    display: flex
    cursor: pointer
  .countries
    padding-bottom: 0px
    &__title
      font-size: 27px
    &__text
      font-size: 30px
    &__link
      font-size: 13px
    &-description
      width: 300px
      height: 260px
    &-bg
      width: 280px
      height: 215px
    &__image
      width: 280px
      height: 215px
  .quest
    padding-top: 48px
    &__title
      font-size: 22px
      width: 532px
    &-inputs
      width: 570px
      margin: auto
    &__input
      width: 360px
      font-size: 16px
    &__number
      font-size: 18px
      padding: 15px 25px
  .form
    &__title
      font-size: 24px
      width: 368px
  .number
    &-cards
      justify-content: space-evenly
    &__title
      font-size: 25px
    &__text
      font-size: 16px
    &-form
      &__title
        font-size: 20px
      &__text
        font-size: 16px
    &__button
      font-size: 15px
    &__input
      width: 240px
    &-inputs
      max-width: 510px
  .about
    padding-bottom: 0px
    &-cards
      max-width: 645px
      margin: auto
      grid-template-columns: repeat(2, 240px)
      grid-template-rows: repeat(2,240px)
      grid-column-gap: 164px
      grid-row-gap: 27px
    &__text
      grid-column: 1/3
      grid-row: 2/3
  .tourist
    padding-bottom: 50px
    &__title
      font-size: 24px
    &-block
      flex-direction: column
      &__title
        font-size: 18px
      &__text
        font-size: 14px
    &-image
      margin-right: 0
  .reviews
    &__title
      font-size: 24px
    &-description
      width: 221px
      height: 313px
    &-card
      width: 280px
    &__name
      font-size: 15px
    &-stars
      width: 100px
      justify-content: space-between
    &__star
      width: 16px
      height: 16px
    &__text
      font-size: 12px
      width: 231px
    &__quest
      font-size: 20px
    &__subtitle
      font-size: 16px
    &__button
      font-size: 12px
      padding: 17px 27px 17px 32px
  .footer
    &__title
      font-size: 24px
    &-list
      &__title
        font-size: 16px
      &__link
        font-size: 14px
    &__item
      font-size: 14px
    &__link
      font-size: 14px
    &-icons
      width: 125px
    &__image
      width: 24px
      height: 25px
    &-wrapper
      grid-template-rows: repeat(3,1fr)
    &-list, &__contacts
      grid-row: 2/3
    &-nav
      grid-row: 3/4
      grid-column: 1/2
@media (max-width: 959px)
  .form
    &-line
      justify-content: center
    &__input
      margin-right: 16px
      margin-bottom: 16px
@media (max-width: 768px)
  .tour
    &__title
      font-size: 18px
      line-height: 22px
      color: #1F2960
      margin: auto
      margin-bottom: 32px
  .countries
    &__title
      font-size: 18px
      line-height: 22px
      color: #1F2960
      margin: auto
      margin-bottom: 32px
  .number
    &__title
      font-size: 18px
      line-height: 22px
    &__text
      font-size: 10px
      line-height: 12px
    &-card
      width: 144px
      height: 116px
    &-cards
      flex-wrap: wrap
  .about
    &__title
      font-size: 18px
      line-height: 22px
  .tourist
    &__title
      font-size: 18px
      line-height: 22px
  .reviews
    &__title
      font-size: 18px
      line-height: 22px
@media (max-width: 660px)
  .hero
    &-text
      left: 26px
  .container
    max-width: 540px
  .header
    &__title
      font-size: 12px
      line-height: 15px
    &__logo
      width: 34px
    &-name
      width: 139px
      align-items: center
    &-wrapper
      padding-bottom: 7px
      padding-top: 7px
  .hero
    padding-top: 0
    background-size: 700px
    &-frame
      height: 256px
      background-size: 298px
    &-text
      height: 150px
      margin-top: 73px
    &-name
      height: 70px
    &__title
      font-size: 16.65px
      line-height: 20px
      width: 297px
    &__text
      font-size: 10px
      line-height: 12px
    &__button
      font-size: 10.7997px
      line-height: 13px
      padding: 13px 20px
      width: 108px
  .slick
    &-slide
      flex-direction: row
  .countries
    &__image
      width: 144px
      height: 120px
    &-bg
      width: 144px
      height: 120px
    &-description
      width: 150px
      height: 150px
    &__text
      font-size: 18px
      line-height: 22px
    &__link
      font-size: 8px
      line-height: 10px
    &__title
      &:after
        width: 26%
        margin: auto
  .quest
    &__title
      font-size: 18px
      line-height: 22px
    &__number
      font-size: 12px
      line-height: 15px
      padding: 13px 18px
    &__input
      font-size: 12px
      line-height: 15px
      width: 272px
    &-inputs
      width: 415px
    &-lines
      height: 260px
  .form
    &__title
      font-size: 18px
      line-height: 22px
    &__input
      font-size: 12px
      line-height: 15px
      width: 174px
      height: 40px
    &__button
      font-size: 12px
      line-height: 15px
      padding: 13px 40px 13px 40px
      height: 19px
  .tour
    padding-bottom: 32px
    &__image
      width: 264px
      height: 186px
    &-card
      height: 320px
      width: 280px
      flex-direction: column
      &__title
        font-size: 16px
        line-height: 20px
      &__button
        font-size: 9.41177px
        line-height: 11px
        padding: 14px 19px
        margin-top: 16px
    &__info
      font-size: 12px
      line-height: 15px
    &__text
      font-size: 12px
      line-height: 15px
    &__price
      font-size: 12px
      line-height: 15px
    &__title
      &:after
        width: 50%
        margin: auto
  .about
    background-size: 1230px
    background-position-y: 202px
    &__title
      width: fit-content
    &__text
      margin-top: 0px
      font-size: 12px
      line-height: 16px
      width: 340px
    &__subtitle
      font-size: 10px
      line-height: 16px
    &-bg
      width: 120px
      height: 120px
    &__image
      width: 120px
      height: 120px
    &-cards
      grid-template-rows: 170px 210px
      grid-column-gap: 59px
    &-card
      align-self: end
      justify-self: center
  .number
    &-form
      &__title
        font-size: 18px
        line-height: 22px
      &__text
        font-size: 14px
        line-height: 17px
    &__input
      display: none
      &--disable
        display: block
        text-align: center
        padding-left: 24px
        max-width: 240px
        font-size: 10px
        line-height: 12px
        height: 0
    &__button
      font-size: 10px
      line-height: 12px
      padding: 16px 40px
  .tourist
    &-case
      height: 69px
    &-block
      &__title
        font-size: 14px
        line-height: 17px
      &__text
        font-size: 12px
        line-height: 14px
  .reviews
    &__avatar
      width: 70px
      height: 70px
    &__name
      font-size: 12px
      line-height: 14px
    &-stars
      width: 87px
    &__text
      font-size: 10px
      line-height: 12px
      width: 170px
    &-description
      width: 155px
      height: 188px
    &__quest
      font-size: 16px
      line-height: 20px
    &__subtitle
      font-size: 12px
      line-height: 15px
    &__button
      font-size: 10px
      line-height: 12px
      padding: 14px 19px 14px 19px
    &-card
      width: 205px
  .footer
    padding-top: 0px
    &-wrapper
      grid-template-columns: 215px 144px 0
      grid-template-rows: repeat(3, 170px)
    &__title
      font-size: 17.0261px
      line-height: 21px
      width: 145px
    &-logoname
      justify-content: start
      align-items: center
    &__logo
      width: 46px
    &-list
      &__title
        font-size: 14px
        line-height: 160%
      &__link
        font-size: 14px
        line-height: 17px
    &__item
      font-size: 12px
      line-height: 160%
    &__link
      font-size: 12px
      line-height: 160%
    &-icons
      width: 105px
@media (max-width: 576px)
  .container
    max-width: 450px
  .hero
    &__title
      font-size: 16.65px
      line-height: 20px
  .about
    &-cards
      grid-column-gap: 0px
      grid-template-columns: repeat(2, 226px)
    &-card
      align-self: center
      justify-self: center
  .number
    &-form
      &__text
        margin-bottom: 32px
    &-card
      margin-bottom: 16px
    &__title
      margin-top: 40px
      margin-bottom: 24px
    &__input
      max-width: 139px
      margin-right: 14px
    &-inputs
      justify-content: center
    &__text
      width: 120px
    &__button
      padding: 16px 18px
  .tourist
    padding-bottom: 40px
  .quest
    &__title
      width: 315px
  .about
    &-bg
      border: 12px solid #ffffff
    &-cards
      grid-template-columns: repeat(2, 165px)
      max-width: 320px
      margin: auto
@media (max-width: 450px)
  .container
    max-width: 304px
  .about
    &-cards
      grid-template-rows: 171px 240px
      grid-template-columns: repeat(2, 152px)
    &-card
      justify-self: flex-start
    &__text
      height: 275px
      width: 304px
  .quest
    &-inputs
      width: 304px
    &__input
      width: 238px
      padding-right: 10px
      padding-left: 10px
  .reviews
    &__quest
      text-align: center
    &__subtitle
      text-align: center
  .form
    &__title
      width: 290px
  .footer
    &-wrapper
      grid-template-columns: 169px 115px 0
    &-logoname
      width: 290px
